<% if (title) { %>
  <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>
   
  <%- messages() %>

  <div id="registerContainer">
    <form id="registerForm" action="/account/register" method="POST">
      <fieldset>
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="account_firstname" required>
  
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="account_lastname" required>
  
        <label for="email">Email Address:</label>
        <input type="email" id="email" name="account_email" required>
  
        <label for="password">Password:</label>
        <input type="password" id="password" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
        <span class="form-note">
          Password must be at least 12 characters and include 1 uppercase letter, 1 number, and 1 special character.
        </span>
  
        <button type="submit">Register</button>
      </fieldset>
    </form>
  </div>