<h1>Welcome to CSE Motors</h1>
<%- messages() %>

<div class="container">
    <div class="banner">
        <picture>
            <source srcset="/images/vehicles/delorean.jpg" media="(min-width: 500px)"/>
            <img src="/images/vehicles/delorean.jpg" alt="delorean"/>
        </picture>
        
        <div class="banner-info">
            <h2>DMC Delorean</h2>No account? <a href="/account/register">Sign-up</a>
            <ul>
                <li>3 Cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
            </ul>
            <img id="own-btn" src="/images/site/own_today.png" alt="own today button">
        </div>
    </div>

    <div class="auto-description">
        
        <div class="auto-reviwes">
            <h3>DMC Delorean Reviews</h3>
            <ul>
                <li>"So fast it's almost like traveling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </div>
        <div class="upgrades">
            <h3>Delorean Upgrades</h3>
            <div class="upgrades-list">
                <div class="upgrade-img">
                    <img src="/images/upgrades/flux-cap.png" alt="">
                </div>
                <p><a href="#">Flux capacitor</a></p>
            </div>
            <div class="upgrades-list">
                <div class="upgrade-img">
                    <img src="/images/upgrades/flame.jpg" alt="">
                </div>
                <p><a href="#">Flame Decals</a></p>
            </div>
            <div class="upgrades-list">
                <div class="upgrade-img">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="">
                </div>
                <p><a href="#">Bumper Stickers</a></p>
            </div>
            <div class="upgrades-list">
                <div class="upgrade-img">
                    <img src="/images/upgrades/hub-cap.jpg" alt="">
                </div>
                <p><a href="#">Hub Caps</a></p>
            </div>
        </div>
    </div>
</div>